@model TechJobs.ViewModels.SearchJobsViewModel

<h2>@Model.Title</h2>

@if (Model.Jobs != null)
{

    <h3>@Model.Jobs.Count Result(s)</h3>

    @foreach (var job in Model.Jobs)
    {
        <table class="job-listing">
            <tr>
                <th colspan="2">@job.Name</th>
            </tr>
            <tr>
                <td class="category">Employer</td>
                <td>@job.Employer</td>
            </tr>
            <tr>
                <td class="category">Location</td>
                <td>@job.Location</td>
            </tr>
            <tr>
                <td class="category">Skill</td>
                <td>@job.CoreCompetency</td>
            </tr>
            <tr>
                <td class="category">Position Type</td>
                <td>@job.PositionType</td>
            </tr>
        </table>
    }
}